/* --- Sidebar principal --- */
/* Configuracion general del sidebar */
.admin-sidebar {
    width: 250px; /* tamaño del sidebar*/ 
    min-height:100vh; /* altura de la pag */
    background-color:#4b2373; /* color del sidebar */
    display: flex;
    flex-direction: column; /*acomodo en columna del sidebar */
    flex-shrink: 0;
    transition-duration: 600ms;  /* Duración de la transicion */
    overflow: hidden;
    /* border-radius: 99px; */
}


/* Sidebar colapsado */
.admin-sidebar.collapsed {
    width: 90px;
    /* border-radius: 15px; */
}


/* --- Boton Superior --- */

/* Seccion donde esta el boton del sidebar */
.sidebar-top {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Posicion */
    padding: 25px 20px 40px 20px; /* Distancia entre cada boton */
}


/* Propiedades del boton para ocultar/mostrar sidebar */
.sidebar-toggle-inside {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color:white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    transition: 
      left 600ms ease, 
      transform 0.2s ease;

}


/* Toggle al pasar el cursor por el boton del sidebar */
.sidebar-toggle-inside:hover {
    transform: scale(1.2);
}


/* Organiza verticalmente todo */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 12px; /*distancia entre botones del sb*/
    padding: 20px 18px;
    flex: 1;
}


/* Formato a los titulos reportes y admin */
.sidebar-section-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 14px 2px 14px;
}


/* Formato a cada opcion del menu */
.sidebar-item {
    display:flex;
    align-items:center;
    gap:15px; /* Distancia entre icono y texto del sb */
    padding:14px;
    width:100%;
    border:none;
    border-radius:99px;
    background:transparent;
    color:white; /* Color de los iconos */
    font-size: 15px;  /*Tamaño del texto con sidebar desplegado*/
    text-decoration: none;
    cursor: pointer; /* Forma del cursor al pasarlo por los botones*/
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      transform 0.2s ease;
}


/* Formato al pasar el mouse sobre las opciones */
.sidebar-item:hover{
    background:rgba(255,255,255,.15);
    transform: scale(1.05)
}


/* .sidebar-item.active:hover{
    background:rgba(255,255,255,.15);
    color: white
    
} */


/* Boton del menu sleeccinado en blanco*/
.sidebar-item.active {
    background: white; /*color del menu seleccionado */
    color:#462267; /* Color del texto del menu selec. */
    font-weight:600;
}


/* Mantiene visible la opcion desabilitada */
.sidebar-item:disabled {
    opacity: 1;
}


/* --- Footer --- */

/* Organiza logo y perfil abajo en el sidebar */
.sidebar-footer {
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}


/* Cuadro blanco detras del logo */
.sidebar-logo-container {
    background: white;
    padding:15px;
    border-radius:15px;
    width:100%;
}

/* Ajusta tamaño del logo */
.sidebar-logo {
    width:100%;
    display: block;
}


/* .sidebar-subtitle {
    color:white;
    font-weight: 600;
    text-align: center;
    margin: 0;
} */


/* --- Perfil de administrador --- */

/* Contenedor de la info del perfil */
.profile-wrapper {
    width: 100%;
    position: relative;
}


/* Botón del perfil */
.profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px;

    background: transparent;
    border: none;
    border-radius: 99px;

    color: white;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: background 0.2s ease;
}


/* Efecto al pasar el cursor */
.profile:hover {
    background: rgba(255, 255, 255, 0.15);
}


/* Flecha a la derecha */
.profile-arrow {
    margin-left: auto;
    transition: transform 0.25s ease;
}


/* Gira la flecha cuando el menú está abierto */
.profile-arrow.open {
    transform: rotate(180deg);
}


/* --- Info del perfil --- */

/* Formato al cuadro que despliega info */
.profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 10px;
    padding: 14px;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;

    color: white;
}


/* Línea divisoria dentro del menú de perfil */
.profile-divider {
    width: 100%;
    height: 1px;

    margin: 7px 0;

    background: rgba(255, 255, 255, 0.2);
}


/* Botón para cerrar sesión */
.profile-logout {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 9px 8px;

    background: transparent;
    border: none;
    border-radius: 99px;
    text-decoration: none;

    color: white;
    font-size: 13px;

    cursor: pointer;

    transition: background 0.2s ease;
}


/* Hover del botón cerrar sesión */
.profile-logout:hover {
    background: rgba(255, 255, 255, 0.15);
}


/* Nombre */
.profile-name {
    font-size: 14px;
    font-weight: 600;
}


/* Correo */
.profile-email {
    font-size: 12px;
    opacity: 0.8;
}


/* Rol */
.profile-role {
    font-size: 11px;
    opacity: 0.65;
}


/* --- Estado colapsado --- */

/* La imagen se esconde en el sidbar colapsado*/
.admin-sidebar.collapsed .sidebar-logo-container,
.admin-sidebar.collapsed .sidebar-subtitle {
    opacity: 0;
}


/* Oculta los títulos de sección al colapsar el sidebar */
.admin-sidebar.collapsed .sidebar-section-title {
    display: none;
}


/* Ajusta el espacio inferior cuando se colapsa */
.admin-sidebar.collapsed .sidebar-footer {
    padding:20px 10px;
}


/* Centra el perfil al estar colapsado */
.admin-sidebar.collapsed .profile {
    justify-content:center;
}


/* Oculta los textos y deja solo iconos */
.admin-sidebar.collapsed .sidebar-text {
    display:none;
}


/* Centra los botones del menu */
.admin-sidebar.collapsed .sidebar-item {
    justify-content:center;
    padding:14px 0;
}

/* Centrar botón cuando el sidebar está colapsado */
.admin-sidebar.collapsed .sidebar-top {

    justify-content: center;

}


/* Ajusta la posicion del boton que abre el sidebar */
.admin-sidebar.collapsed .sidebar-toggle-inside {

    right: 26px;

}


/* Centra el botón de perfil cuando el sidebar está cerrado */
.admin-sidebar.collapsed .profile {
    justify-content: center;
}


/* Oculta la flecha */
.admin-sidebar.collapsed .profile-arrow {
    display: none;
}

/* Boton ciruclar del perfil */
.admin-sidebar.collapsed .profile {
    width: 58px;
    height: 58px;

    padding: 0;

    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin: 0 auto;
}
